link(rel="stylesheet", type="text/css", href="stylesheets/create.css")

h1 Create a new Element

form(id="create-form", ng-submit="create()")
	h2 Type :
	.input
		label(for="type-text") 
			input(type="radio", ng-model="file.type", value="text", name="type-text")
			|	Text
		label(for="type-folder") 
			input(type="radio", ng-model="file.type", value="folder", name="type-folder")
			|	Folder
		label(for="name")
			|	Name :  
			input(name="name", type="text", ng-model="file.name")
		p Parent : {{parentName}} 
		input(type="submit", value="Submit")



datalist(id="type")
	option(value="text")
	option(value="folder")