extends layout

block content
  div#card-overlay.hidden
    div#card

  nav.header(ng-controller="AppCtrl")
    div.menu-icon.is-closed
      span
    h1 Brainer
  nav.files-list.is-closed(ng-controller="FilesCtrl")
    .control-panel
      button(ng-click="goBackInHistory()") 
        i.material-icons keyboard_arrow_left
      button(ng-click="goBackInTree()")
        i.material-icons keyboard_arrow_up
      button(ng-click="refresh()", alt="refresh")
        i.material-icons refresh
      button(ng-click="goHome()")
        i.material-icons home
      button(ng-click="goCreate()") 
        i.material-icons add
      button(ng-click="deleteFile()")
        i.material-icons delete
      button.change-name(ng-click="changeName()")
        i.material-icons label
      button(ng-click="editFile()") 
        i.material-icons edit
      input.search(type="text", placeholder="Search in folder...", ng-model="q")
    ul#file-list

  div.view.not-pushed(ng-view)

  script(src="//code.jquery.com/jquery-1.11.2.min.js")
  script(src='//cdn.socket.io/socket.io-1.0.6.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-animate.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-sanitize.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.min.js')

  script(src="js/anim-css.js")

  script(src='/js/app.js')
