extends layout

block content
  div#card-overlay.hidden
    div#card

  nav.header(ng-controller="AppCtrl")
    div.menu-icon.is-closed
      span
    h1 Brainer
  nav.files-list.is-closed(ng-controller="FilesCtrl")
    .control-panel
      button(ng-click="goBackInHistory()") <-
      button(ng-click="goBackInTree()") ^
      button(ng-click="goHome()") Home
      button(ng-click="goCreate()") Create 
      button(ng-click="deleteFile()") Delete
      button.change-name(ng-click="changeName()") Change Name
      button.reload(ng-click="refresh()") Refresh
      input.search(type="text", placeholder="Search in folder...", ng-model="q")
    ul#file-list

  div.view.not-pushed(ng-view)

  script(src="//code.jquery.com/jquery-1.11.2.min.js")
  script(src='//cdn.socket.io/socket.io-1.0.6.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-animate.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-sanitize.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.min.js')

  script(src="js/anim-css.js")

  script(src='/js/app.js')