doctype html
html
  head
    meta(charset="utf-8")
    meta(name="vierport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", type="text/css", href="stylesheets/file.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/card.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/header.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/animate.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="codemirror/lib/codemirror.css")
    link(rel="stylesheet", type="text/css", href="codemirror/theme/elegant.css")
    
    script(src="codemirror/lib/codemirror.js")
    script(src="codemirror/addon/hint/show-hint.js")
    script(src="codemirror/addon/mode/overlay.js")
    script(src="codemirror/mode/xml/xml.js")
    script(src="codemirror/mode/markdown/markdown.js")
    script(src="codemirror/mode/gfm/gfm.js")
    script(src="codemirror/mode/javascript/javascript.js")
    script(src="codemirror/mode/css/css.js")
    script(src="codemirror/mode/htmlmixed/htmlmixed.js")
    script(src="codemirror/mode/clike/clike.js")
    script(src="codemirror/mode/meta.js")
    
    title Brainer

  body(ng-app="myApp")
    div#content
      block content
