/************************************
*************RESET*******************
************************************/
@font-face {
  font-family: "Barrio";
  src: url("fonts/Barrio.otf");
}
@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue.otf");
}
@font-face {
  font-family: "Kapak";
  src: url("fonts/Kapak.otf");
}
@font-face {
  font-family: "PoetsenOne";
  src: url("fonts/PoetsenOne.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: "Lucida Grande", Arial;
}
/************************************
*************NAVBAR******************
************************************/
main {
  height: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  flex-row: row;
  margin: 0;
}
nav.files-list {
  flew: 1;
  overflow: auto;
  min-width: 225px;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  float: left;
  width: 250px;
  height: 100%;
  background-color: #89a02c;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  min-width: 200px;
  border-right: 2px solid rgba(0,0,0,0.1);
  line-height: 1;
}
nav.files-list.is-closed {
  margin-left: -251px;
}
nav.files-list.is-open {
  margin-left: 0;
}
nav.files-list .control-panel button {
  float: left;
  width: 20%;
}
nav.files-list .control-panel button.change-name {
  width: 40%;
}
nav.files-list .control-panel button.edit-file {
  width: 30%;
}
nav.files-list .control-panel button.reload {
  width: 30%;
}
nav.files-list .control-panel input.search {
  width: 100%;
}
nav.files-list button {
  margin: 0;
}
nav.files-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  height: 100%;
}
nav.files-list li {
  height: 30px;
  background-color: #768e0e;
  margin: 0;
  padding: 0.25em 0.25em;
  margin: 0.25em 0.25em;
  cursor: pointer;
  color: rgba(255,255,255,0.9);
  border: 2px solid transparent;
}
nav.files-list li.selected {
  background-color: #61740d;
}
nav.files-list li > p.name {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  overflow: hidden;
  float: left;
  font-size: 23px;
  color: #fff;
  font-family: 'Kapak';
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 10px;
}
nav.files-list li > p.type {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  font-family: Ubuntu;
  float: right;
  color: #ddd;
  text-transform: uppercase;
  font-size: 15px;
  font-style: italic;
}
.sidebar {
  width: 300px;
  min-width: 100px;
}
.resize-handle.left .resize-handle.right {
  width: 4px;
  background: #ccc;
  cursor: ew-resize;
}
.resize-handle.left .resize-handle.right:hover {
  background: #aaa;
}
.resize-handle.top .resize-handle.bottom {
  height: 4px;
  background: #ccc;
  cursor: ns-resize;
}
.resize-handle.top .resize-handle.bottom:hover {
  background: #aaa;
}
html.handle-dragging * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html.handle-dragging.vertical * {
  cursor: ew-resize;
}
html.handle-dragging.horizontal * {
  cursor: ns-resize;
}
html.handle-dragging iframe {
  pointer-events: none;
}
/************************************
*************CONTENT*****************
************************************/
div.view {
  display: block;
  width: 100%;
  height: 100%;
}
div#content {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50px;
}
