div#text-content
	height 95%
	overflow-y scroll 
	text-align center
	line-height 3em
	h1
		text-align center
		margin-top 10px
		font-size 50px
		font-family 'PoetsenOne'
		text-transform capitalize
		color #89a02cff
	h2
		padding 10px
		font-size 30px
		font-family 'PoetsenOne'
		text-transform capitalize
		color #89a02cff
	h3
		padding 10px
		text-align center
		font-size 15px
		color #555
		text-decoration underline		
	p
		font-size 15px
		color #555
	ul
		text-align center
		list-style-type disc
		li
			font-size 15px
			color #888

div#slideshow-content
	height 100%
	width 100%
	p.info
		display inline
		position relative
		top 0%
		left calc( -50% + 18px )
		background-color rgba(0, 0, 0, 0.3)
		padding 3px
		text-align center
		width 38px
	.box
		position absolute
		top 50%
		left 50%
		transform translateX(-50%) translateY(-15%)
		h1
			font-size 80px
			font-family 'PoetsenOne'
			text-transform capitalize
			margin-bottom 20%
			padding-top 5%
			color #627321
		p
			font-size 40px
			font-family 'PoetsenOne'
			
		height 100%
	text-align center
	background-color rgba(133, 178, 98, 1)
	