@font-face
	font-family "Barrio"
	src url(fonts/Barrio.otf)

@font-face
	font-family "BebasNeue"
	src url(fonts/BebasNeue.otf)

@font-face
	font-family "Kapak"
	src url(fonts/Kapak.otf)

@font-face
	font-family "PoetsenOne"
	src url(fonts/PoetsenOne.ttf)