/************************************
*************RESET*******************
************************************/
@import 'nib'
@import './fonts.styl'

global-reset()

body
	display flex
	flex-flow column
	margin 0
	padding 0
	background-color #ddd
	font-family "Lucida Grande", Arial


/************************************
*************NAVBAR******************
************************************/
main
	height 100%
	flex 1
	display flex
	flex-row row
	margin 0
nav.files-list
	flew 1
	overflow auto
	min-width 225px
	transition margin-left 0.5s
	&.is-closed
		margin-left -251px
	&.is-open
		margin-left 0
	float left
	width 250px
	height 100%
	background-color #89a02cff
	overflow hidden
	position relative
	top 0
	left 0
	min-width 200px
	border-right 2px solid rgba(#000,0.1)
	line-height 1
	.control-panel
		button
			float left
			width 25%
		input.search
			width 100%
	button
		margin 0
	ul
		list-style none
		margin 0
		padding 0
		font-size 1.5em
		height 100%
	li
		transition background-color 0.3s
		height 30px
		background-color #768e0eff
		margin 0
		padding 0.25em 0.25em
		margin 0.25em 0.25em
		cursor pointer
		color rgba(#fff,0.9)
		border 2px solid transparent
		&.selected
			background-color #61740D
		> p.name
			-moz-user-select none
			-webkit-user-select none
			-ms-user-select none
			user-select none
			-webkit-user-drag none
			user-drag none
			overflow hidden
			float left
			max-width 198px
			max-height 30px
			overflow-x hidden
			font-size 23px
			color white
			font-family 'Kapak'
			text-decoration none
			text-transform capitalize
			margin-bottom 10px
		> i.type
			-moz-user-select none
			-webkit-user-select none
			-ms-user-select none
			user-select none
			-webkit-user-drag none
			user-drag none
			float right

.sidebar
	width 300px
	min-width 100px

.resize-handle
	&.left &.right
		&:hover
			background #aaa
		width 4px
		background #ccc
		cursor ew-resize
	&.top &.bottom
		&:hover
			background #aaa
		height 4px
		background #ccc
		cursor ns-resize

html.handle-dragging *
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

html.handle-dragging.vertical * {
	cursor: ew-resize;
}

html.handle-dragging.horizontal * {
	cursor: ns-resize;
}

html.handle-dragging iframe {
	pointer-events: none;
}

/************************************
*************CONTENT*****************
************************************/

div.view
	display block
	width 100%
	height 100%

div#content
	height 100%
	width 100%
	position fixed
	top 50px
